$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-margin: 0 1.6rem;
$tablet-margin: 0 3.6rem;
$desktop-margin: 0 auto;

// COLORS
$bg-card: #fefae0;
$bg: #dbe4c6;
$text-primary: #131714;
$text-secondary: #faedcd;
$border-color: #94af9f;
