@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables" as *;

header {
  background-color: $bg;
}

.navbar {
  margin: $mobile-margin;
  padding-top: 1.6rem;
  @include flex(flex-start, center, row);

  @include tablet {
    margin: $tablet-margin;
  }

  @include desktop {
    margin: $desktop-margin;
    max-width: 102rem;
  }

  &__logo {
    text-decoration: none;
    width: 5rem;
    display: inline-block;
  }
  &__title {
    color: $text-primary;
    margin: 0 2rem;
    font-size: 3.4rem;
    display: inline-block;
  }
  &__link-list {
    list-style: none;
  }

  &__link {
    margin: 0 1rem;
    text-decoration: none;
    width: 50%;
    @include flex(flex-start, center, row);
  }
}
