@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  margin: $mobile-margin;
  padding-top: 1.6rem;
  @include flex(space-between, center, row);

  @include tablet {
    margin: $tablet-margin;
  }

  @include desktop {
    margin: $desktop-margin;
    max-width: 102rem;
  }

  &__logo {
    text-decoration: none;
  }

  &__link-list {
    list-style: none;
  }

  &__link {
    margin: 0 1rem;
    text-decoration: none;
  }
}
