@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.destinations {
  margin: $mobile-margin;

  @include flex(space-between, center, column);

  @include tablet {
    margin: $tablet-margin;
  }

  @include desktop {
    margin: $desktop-margin;
    max-width: 102rem;
  }

  &__title {
    color: $text-primary;
    margin: 3rem;
    font-size: 3.6rem;
  }

  &__subtitle {
    color: $text-primary;
  }

  &__card-wrapper {
    @include flex(space-between, center, row);
    flex-wrap: wrap;

    @include tablet {
      width: 90%;
      margin: 3rem auto;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__btn-back {
    border: 2px $text-primary solid;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    color: $text-primary;
    &:hover {
      background-color: $bg;
      transition: 1s;
    }
  }
}
