@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.destination {
  width: 25rem;
  height: 25rem;
  border: 2px $border-color solid;
  border-radius: 20px;
  vertical-align: bottom;
  object-fit: contain;
  margin: 2rem;
  position: relative;
  overflow: hidden;
  background-position: center;
  background: url(../../assets/images/travel.jpg);
  background-size: 100%;

  &__title {
    color: $text-secondary;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 25rem;
    height: 6rem;
    padding: 2rem;
    background-color: rgba($text-primary, 0.5);
  }
}
